.ipynb_checkpoints/
# IDEs
.idea/

# Internal directories
accounts/
backup/
csvs_for_testing_only/
etfs/
test_logs/
txt_for_testing_only/
venv/

# symbolic links
ibapi

# files
*.csv
*.txt

# python directory
__pycache__/


